%h1.center Recommend a Product
= form_for @recommendation, html: {id: "recommendation-form", style: (form_styles(@form_attribute)} + "padding:10px;") do |f|
	- if @recommendation.errors.any?
		#error_explanation
			%h2
				= pluralize(@recommendation.errors.count, "error")
				prohibited it from being saved:
			%ul
				- @recommendation.errors.full_messages.each do |msg|
					%li= msg
	%div
		%label Select a Product you want to recommend
		= f.select :shopify_product_id, @products.collect {|p| [ p.title, p.id ] }, {}, style: input_styles(@form_attribute)
	%div
		%label Email
		= f.text_field :friend_email, placeholder: "Email of a friend you want to recommend a product.", required: true, style: input_styles(@form_attribute)
	%div
		= f.label :comment
		= f.text_area :comment, placeholder: "Additional comments about the product", style: input_styles(@form_attribute) 
	= f.submit "Send Recommendation", class: "btn primary", style: button_styles(@form_attribute)